<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Managment Natural</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>

    <body>
        <form method="post">
        <div class="container col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="title" class="materialize-textarea"></textarea>
                        <label for="title">Titulo</label>
                    </div>
                </div>
        </div>
        <div class="container col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="content" class="materialize-textarea"></textarea>
                        <label for="content">Articulo</label>
                    </div>
                </div>
        </div>
        <div class="container">
                <div class="input-field">
                    <input id="Fecha" type="text" class="datepicker col s12 m4 offset-m3">
                <label class="" for="Fecha">
                    Fecha
                </label>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <button type="submit" class="waves-effect btn-large waves-teal col s4 m2 offset-m4">Aceptar</button>
            </div>
        </div>
        </form>
        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="../js/materialize.js"></script>
        <script src="../js/init.js"></script>
    </body>
</html>
